In [5]:
!pip install -U finance-datareader

WARNING: The directory '/home/ys9922/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you may want sudo's -H flag.
Requirement already satisfied: finance-datareader in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (0.9.14)
Collecting finance-datareader
  Downloading finance_datareader-0.9.14-py3-none-any.whl (13 kB)
  Downloading finance_datareader-0.9.13-py3-none-any.whl (14 kB)
Requirement already satisfied: tqdm in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from finance-datareader) (4.56.0)
Requirement already satisfied: pandas>=0.19.2 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from finance-datareader) (1.2.1)
Requirement already satisfied: requests>=2.3.0 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from finance-datareader) (2.25.1)
Requirement already satisfied: lxml in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from finance-datareader) (4.6.2)
Requirement already satisfied: requests-file in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from finance-datareader) (1.5.1)
Requirement already satisfied: numpy>=1.16.5 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.3 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from pandas>=0.19.2->finance-datareader) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.19.2->finance-datareader) (1.15.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ys9922/.pyenv/versions/3.9.1/envs/stock-env/lib/python3.9/site-packages (from requests>=2.3.0->finance-datareader) (1.26.2)

In [10]:
# 데이터 분석을 위해 pandas 불러오기
import pandas as pd

In [9]:
# FinaceDataReader 를 fdr 병칭으로 불러옵니다.
# 라이브러리의 version을 확인하고 싶을 때는 .__version__ 으로 확인합니다.
import FinanceDataReader as fdr

fdr.__version__

'0.9.14'

In [12]:
# 도움말을 보고자 할때는 ? 를 사용하고 소스코드를 볼 때는 ??를 사용합니다.
# 주피터 노트북에서는 함수나 메소드의 괄호 안에서 shift + tab 키를 누르면 도움말을 볼 수 있습니다.

fdr.StockListing??

In [16]:
# KRX: KRX 종목 전체
# KOSPI: KOSPI 종목
# KOSDAQ : KOSDAQ 종목
# KONEX : KONEX 종목
# NASDAQ : 나스닥 종목
# NYSE : 뉴욕증권거래소 종목
# SP500 : S6P500 종목

df_krx = fdr.StockListing("KRX")
df_krx.shape

(6676, 10)

In [18]:
# 행과 열의 크기를 봅니다. (행, 열) 순
df_krx.shape

(6676, 10)

In [20]:
# 전체 데이터프레임의 요약정보를 봅니다.
df_krx.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6676 entries, 0 to 6675
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          6676 non-null   object
 1   Market          6676 non-null   object
 2   Name            6676 non-null   object
 3   Sector          2412 non-null   object
 4   Industry        2393 non-null   object
 5   ListingDate     2412 non-null   datetime64[ns]
 6   SettleMonth     2412 non-null   object
 7   Representative  2412 non-null   object
 8   HomePage        2240 non-null   object
 9   Region          2412 non-null   object
dtypes: datetime64[ns](1), object(9)
memory usage: 573.7+ KB

In [23]:
# 기술통계 값을 요약합니다.

df_krx.describe()

<ipython-input-23-61b34dcf1498>:3: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_krx.describe()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
count,6676,6676,6676,2412,2393,2412,2412,2412,2240,2412
unique,6676,3,6676,158,2241,1777,9,2297,2219,21
top,57FW26,KOSPI,인지디스플레,특수 목적용 기계 제조업,기업인수합병,1976-06-30 00:00:00,12월,-,http://www.sempio.com,서울특별시
freq,1,5039,1,141,36,8,2352,5,2,972
first,NaN,NaN,NaN,NaN,NaN,1956-03-03 00:00:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,2021-01-21 00:00:00,NaN,NaN,NaN,NaN

In [32]:
# to_csv 로 Dataframe을 데이터 저장용 파일인 CSV 파일로 바꿀 수 있습니다.
df_krx.to_csv("krx.csv", index=False)

In [34]:
# CSV로 저장된 파일을 다시 DataFrame으로 읽어서 확인해 봅니다.
pd.read_csv("krx.csv")

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
...,...,...,...,...,...,...,...,...,...,...
6671,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6673,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6674,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6675,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [35]:
# 데이터 분석을 위해 pandas, 시각화를 위해 seaborn 불러오기
# 수치 기반 라이브러리 numpy
import pandas as pd
import seaborn as sns
import numpy as np

ModuleNotFoundError: No module named 'seaborn'

In [39]:
df = pd.read_csv("krx.csv")
df.shape

(6676, 10)

In [43]:
# head 로 위에 있는 데이터 일부만 가져옵니다.
df.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,특수 목적용 기계 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,이현우,http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도

In [45]:
# tail 로 아래 있는 데이터 일부만 가져옵니다.
df.tail()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
6671,000547,KOSPI,흥국화재2우B,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6672,000545,KOSPI,흥국화재우,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6673,003280,KOSPI,흥아해운,해상 운송업,외항화물운송업(케미컬탱커),1976-06-29,12월,이환구,http://www.heung-a.com,서울특별시
6674,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호, 염두성 (각자대표)",http://www.heerim.com,서울특별시
6675,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [46]:
# sample을 사용하면 랜덤하게 ()안의 갯수만큼 가져옵니다.
# ()안에 값을 써주지 않으면 한 개만 가져옵니다.
df.sample()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
926,58FK43,KOSPI,KBFK43KOSPI200풋,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#